@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$lightgrey: #f2f2f2;
$drakgrey: #eaeaea;
$white: #fff;

@mixin shadow {
    box-shadow: 0px -3px 5px -4px #7F7F7F;
}
@mixin border-radius {
    border-radius: 1rem;
}

@mixin margin-regular {
    margin: 1rem;
}

@mixin padding-regular {
    padding: 1rem;
}

@mixin padding-side {
    padding: 0 1rem;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

@mixin flex-sp-bet {
    display: flex;
    justify-content: space-between;
}


@mixin block-marg {
    margin-block-start: 0;
    margin-block-end: 0;
}


body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    padding: 0;
    a{
        text-decoration: none;
    }
}

.block__title {
    @include padding-regular;
}

/* HEADER*/
#header-index {
    @include flex-column-center;
}

.header__logo {
    padding: 1rem 0;  
    text-align: center; 
}

.loc {
    width: 100%;
    margin: 0;
    padding: 1rem 0;
    text-align: center;
    background-color: $drakgrey;
    @include shadow;
    font-weight: 300;
    
}

/* HEADER page menu*/

.header__menu {
    @include flex-column-center;
    .fas {
        position: absolute;
        top: 1.5rem;
        left: 1rem;
    }
}
.picture__above {
    max-width: 100%;
}

/* BUTTONS*/
.btn {
    @include padding-regular;
    border-radius: 2rem;
    background: rgb(147,86,220);
    background: linear-gradient(4deg, rgba(147,86,220,1) 5%, rgba(255,121,218,1) 80%);
    border: none;
    color: $white;
    text-align: center;
    &:hover {
        cursor: pointer;
    }
}

.btn__order {
    display: flex;
    margin: 3rem auto 4rem auto;
    padding: 1rem 3rem;
}

.btn_manual {
    border: none;
    padding: 1.5rem 4rem;
    font-weight: 700;
    @include border-radius;
    @include shadow;
    
}
.fas {
    color: rgb(116, 115, 115);
    padding: 0 0.5em;
    font-size: 1.2em;
}  

.btn__step__number {
    display: flex;
    margin-bottom: 4rem;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    z-index: 1;
    margin-right: -1rem;
    border: solid 1px $primary;
    border-radius: 50%;
    background: $primary;
    background: linear-gradient(286deg, rgba(147,86,220,1) 0%, rgba(147,86,220,1) 50%);
    color: $white;
    height: 1.5rem;
    width: 1.5rem;
    
} 
/* INTRO*/
#intro {
    padding: 3rem 1rem 2rem 1rem;
    text-align: center;
    background-color: #F6F6F6;;
}

#steps {
    @include flex-column-center;
    @include padding-regular;
}

/* MAIN page index*/
#restaurants {
    width: 100%;
    @include flex-column;
    background-color: #f2f2f2;
    padding: 1rem 0;
}
h2 {
    align-self: baseline;
    @include padding-side;
    @include block-marg;
}

.card__restaurant{
    @include flex-column;
    margin: 1rem;
    box-shadow:-0.3rem 0.3rem 0.6rem #c2c2c2;
    border-radius: 1rem;
    position: relative;
    a {
        text-decoration: none;
        color: black;
        display: contents;
    }
}


.img__wrapper {
    width:100%;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
    height: 10rem; 
    
}

.label__new {
    background-color:$tertiary;
    color: darken($tertiary, 45%);
    position: absolute;
    top:1rem;
    right:1rem;
    padding: 0.4rem;
}

.card__desc {
    @include flex-sp-bet;
    padding-bottom: 0.5rem;
    .card__name {
        @include block-marg;
        padding: 0.5rem 1rem;
    }
    .card__loc{
        
        @include block-marg;
        @include padding-side;
        font-weight: 300;
        font-size: 1rem;
    }
    .card__fav{
        align-self: flex-end;
        margin-right:1em;
    }
}

/* MAIN page menu*/
.menu__container {
    width: 100%;
    background-color: $lightgrey;
    border-radius: 2rem 2rem 0 0;
    position: relative;
    margin-top: -3.5rem;
    padding-bottom: 1rem;
}

.menu__title {
    @include flex-sp-bet;
    font-family: 'Shrikhand';
    @include padding-regular;
    .fa-heart {
        align-self: center;
        padding-right: 1rem;
        font-size: 1.7rem;
        
    }
}
/* MENU, CATEGORIES? PROCUCTS*/

.product__category {
    @include margin-regular;
    padding-top: 2rem;
    height: 1.5rem;
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
    border-bottom: solid 3px $tertiary;
    width: min-content;
}

.card__product {
    @include flex-sp-bet;
    @include padding-side;
    @include margin-regular;
    @include shadow;
    background-color: $white;
    @include border-radius;
    .product__name {
        @include block-marg;
    }
    .product__price {
        align-self: end;
        padding: 0 1rem 1rem 0;
        font-weight: 600;
    }
}

.product__text {
    padding: 0.75rem 0;
}

.product__desc {
    font-weight: 300;
    @include block-marg;
    
}

/* FOOTER index*/
footer {
    background-color: #343535 ;
    color: $white;
    @include padding-regular;
    .footer__flex {
        @include flex-column;
        align-items: flex-start;
        
    }
    .logo {
        filter: invert(100);
        width: 8rem;
        padding-bottom: 1rem;
    }
    
    .footer__link {
        @include flex-column;
        align-items: flex-start;
        font-weight: 700;
    }
    
    .fas {
        padding: 0 0.3rem 0 0;
        color:$white;
        font-size: 0.75rem;
    }
    a {
        color: $white;
        font-weight: 300;
        margin: 0.2rem;
    }
}

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px)  {
    
    .block__title{
        display:none;
    }
    
    #steps {
        flex-direction: row;
        justify-content: center;
        .btn__step__number{
            margin-bottom: 0;
        }
        .number{
            margin-right: -2rem;
        }
        .btn_manual{
            @include margin-regular;
            padding: 1.5rem 1rem;
        }
    }
    
    #restaurant{
        display: grid;
    }
    #container__results {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
        margin: 1.5rem;
    }
.category__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
    
}

@media only screen 
and (min-device-width: 1025px) 
and (max-device-width: 2560px) {
    .block__title {
        display:none;
    }

    .block__title{
        display:none;
    }

    #intro{
        padding: 10rem 0 8rem 0;
    }
    
    #steps {
        flex-direction: row;
        justify-content: center;
        .btn__step__number{
            margin: 5rem;
        }
        .number{
            margin-right: -2rem;
        }
        .btn_manual{
            @include margin-regular;
            padding: 2rem 4rem;
            font-size: 1.1rem;
        }
    }
    
    
    #container__results {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 1.5rem;
        justify-content: center;
        margin: 6rem 15rem;
       
    }

    .category__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
}

