/* INTRO*/

#intro {
    text-align: center;
    background-color: #F6F6F6;
    padding: 2.5rem 1rem;
    h1 {
        width: 70%;
        margin:auto
    }
    p {
        letter-spacing: 0.025rem;
        font-weight: 300;
        font-size: 1.05rem;
        margin-block-start: 0.75rem;
    }    
}


