@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* variables*/
/* MIXINS*/
/* BASES*/
body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  padding: 0;
}
body a {
  text-decoration: none;
}

/* CSS-MOBILE*/
/* HEADER INDEX*/
#header-index {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  padding: 1rem 0;
  text-align: center;
  margin: 1rem 0 0 0;
}
.header__logo img {
  width: 10em;
}

.block__title {
  padding: 3rem 0.5rem 1rem 0;
}

.loc {
  width: 100%;
  margin: 0;
  padding: 0.6rem 0 0.8rem;
  text-align: center;
  background-color: #e0e0e0;
  box-shadow: 0px -3px 5px -4px #7F7F7F;
  font-weight: 400;
  font-size: 1rem;
}
.loc .fa-map-marker-alt {
  padding-right: 0.7rem;
  font-size: 1rem;
}

/* HEADER page menu*/
.header__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__menu .fas {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 1.6rem;
  color: black;
}

.picture__above {
  width: 100%;
  max-height: 15rem;
  object-fit: cover;
}
.picture__above #container__results {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1.5rem;
  justify-content: center;
  margin: 6rem 30rem;
}
.picture__above .menu__container {
  margin: -3.5rem 10rem 0 10rem;
}
.picture__above .menu__title {
  display: grid;
  grid-template-columns: 35% 35%;
  margin: 0 15rem;
  font-size: 1.8rem;
}
.picture__above .fa-heart {
  justify-self: end;
  font-size: 1.4em;
}
.picture__above .category__list {
  display: flex;
  flex-direction: column;
  margin: 0 2.5rem;
}
.picture__above .product__category {
  margin: 2rem;
  padding: 0;
  font-size: 1.5rem;
  height: 1.8rem;
}
.picture__above .product__list {
  display: flex;
  margin: 0 15rem;
  justify-content: center;
}
.picture__above .card__product {
  width: 25rem;
  margin: 1rem;
}
.picture__above #container__results {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1.5rem;
  justify-content: center;
  margin: 6rem 30rem;
}
.picture__above .menu__container {
  margin: -3.5rem 10rem 0 10rem;
}
.picture__above .menu__title {
  display: grid;
  grid-template-columns: 35% 35%;
  margin: 0 15rem;
  font-size: 1.8rem;
}
.picture__above .fa-heart {
  justify-self: end;
  font-size: 1.4em;
}
.picture__above .category__list {
  display: flex;
  flex-direction: column;
  margin: 0 2.5rem;
}
.picture__above .product__category {
  margin: 2rem;
  padding: 0;
  font-size: 1.5rem;
  height: 1.8rem;
}
.picture__above .product__list {
  display: flex;
  margin: 0 15rem;
  justify-content: center;
}
.picture__above .card__product {
  width: 25rem;
  margin: 1rem;
}

/* BUTTONS*/
.btn {
  padding: 1rem;
  border-radius: 2rem;
  background: #9356dc;
  background: linear-gradient(4deg, #9356dc 5%, #ff79da 80%);
  border: none;
  font-size: 1rem;
  color: #fff;
  text-align: center;
  margin-top: 1rem;
}
.btn:hover {
  cursor: pointer;
}

.btn__order {
  display: flex;
  margin: 3rem auto 3rem auto;
  padding: 1rem 3rem;
}

.btn_manual {
  display: flex;
  align-items: center;
  border: none;
  padding: 1.5rem 4rem;
  font-weight: 700;
  border-radius: 1rem;
  box-shadow: 0px -3px 5px -4px #7F7F7F;
  height: 4.5rem;
  width: 100%;
  margin: 1rem 0;
}
.btn_manual .fas {
  color: #747373;
  padding: 0 2rem 0 0;
  font-size: 1.3rem;
  right: 1rem;
  position: relative;
  line-height: 1;
}

.step__text {
  right: 1rem;
  position: relative;
}

.btn__step__number {
  display: flex;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  z-index: 1;
  margin-right: -1rem;
  border: solid 1px #9356DC;
  border-radius: 50%;
  background: #9356DC;
  background: linear-gradient(286deg, #9356dc 0%, #9356dc 50%);
  color: #fff;
  height: 1.5rem;
  width: 1.5rem;
}

/* INTRO*/
#intro {
  padding: 2.5rem 1rem;
  text-align: center;
  background-color: #F6F6F6;
}
#intro h1 {
  width: 70%;
  margin: auto;
}
#intro p {
  letter-spacing: 0.025rem;
  font-weight: 300;
  font-size: 1.05rem;
  margin-block-start: 0.75rem;
}

#steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

/* MAIN page index*/
#restaurants {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 1rem auto;
}

h2 {
  align-self: baseline;
  padding: 0 1rem;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0 0 0 1rem;
}

.card__restaurant {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  box-shadow: -0.3rem 0.3rem 0.6rem #c2c2c2;
  border-radius: 1rem;
  position: relative;
}
.card__restaurant a {
  text-decoration: none;
  color: black;
  display: contents;
}

.img__wrapper {
  width: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  height: 10rem;
}

.label__new {
  background-color: #99E2D0;
  color: #217460;
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.4rem;
}

.card__desc {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}
.card__desc .card__name {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0.5rem 1rem;
}
.card__desc .card__loc {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0 1rem;
  font-weight: 300;
  font-size: 1rem;
}
.card__desc .card__fav {
  align-self: flex-end;
  margin-right: 1em;
  font-size: 1.5rem;
  font-weight: 300;
}

/* MAIN page menu*/
.menu__container {
  background-color: #f2f2f2;
  border-radius: 2rem 2rem 0 0;
  position: relative;
  margin-top: -3.5rem;
  padding-bottom: 1rem;
}

.menu__title {
  display: flex;
  justify-content: space-between;
  font-family: "Shrikhand";
  padding: 1rem;
  margin-top: 2.2rem;
  letter-spacing: 0.01rem;
}
.menu__title .fa-heart {
  align-self: center;
  padding-right: 1rem;
  font-size: 1.6rem;
  padding-top: 0.5rem;
}

/* MENU, CATEGORIES? PROCUCTS*/
.product__category {
  height: 1.5rem;
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
  border-bottom: solid 3px #99E2D0;
  width: 10%;
  padding: 1rem 0 0 0;
}

.card__product {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
  margin: 0.75rem 1rem 0 1rem;
  box-shadow: 0px -3px 5px -4px #7f7f7f;
  background-color: #fff;
  border-radius: 1rem;
}
.card__product .product__name {
  margin-block-start: 0;
  margin-block-end: 0;
}
.card__product .product__price {
  align-self: end;
  padding: 0 1rem 0.8rem 0;
  font-weight: 600;
}

.product__text {
  padding: 0.75rem 0;
}

.product__desc {
  font-weight: 300;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-top: 0.3rem;
}

/* FOOTER index*/
footer {
  background-color: #343535;
  color: #fff;
  padding: 1rem;
}
footer .footer__flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .logo {
  filter: invert(100);
  width: 8rem;
  padding-bottom: 1rem;
}
footer .footer__link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 700;
}
footer .fas {
  padding: 0 0.1rem 0 0;
  color: #fff;
  font-size: 0.75rem;
}
footer a {
  color: #fff;
  font-weight: 300;
  margin: 0.2rem;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .block__title {
    display: none;
  }

  .picture__above {
    width: 100%;
    max-height: 20rem;
  }

  #steps {
    flex-direction: row;
    justify-content: center;
  }
  #steps .btn__step__number {
    margin-bottom: 0;
  }
  #steps .number {
    margin-right: -2rem;
  }
  #steps .btn_manual {
    margin: 1rem;
    padding: 1.5rem 1rem;
  }
  #steps .btn_manual .fas {
    color: #747373;
    padding: 0 2rem 0 0;
    font-size: 1.3rem;
    position: relative;
    line-height: 1;
    left: 1.4rem;
  }

  .card__fav .fa-heart {
    font-size: 1.4rem;
  }

  #restaurant {
    display: grid;
  }

  #container__results {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1.5rem;
    justify-content: center;
    margin: 3rem;
  }

  .fa-heart {
    font-size: 1.2rem;
  }

  .menu__title {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 1rem;
    font-size: 1.1rem;
  }

  .fa-heart {
    justify-self: end;
    font-size: 1.5em;
  }

  .category__list {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .product__category {
    margin: 1rem;
    padding: 0;
    font-size: 1.5rem;
    height: 1.8rem;
  }

  .product__list {
    display: flex;
    margin: 0 5rem;
    justify-content: center;
    flex-direction: column;
  }

  .card__product {
    width: 25rem;
    margin: 1rem;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #steps .btn_manual .fas {
    color: #747373;
    padding: 0 2rem 0 0;
    font-size: 1.3rem;
    position: relative;
    line-height: 1;
    left: 0.5rem;
  }
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 2560px) {
  .block__title {
    display: none;
  }

  #steps {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .btn__step__number {
    margin: 2rem;
  }

  #container__results {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
  }

  .menu__container {
    margin: -3.5rem 4rem 0 4rem;
  }

  .product__list {
    display: flex;
  }

  .category__list {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .card__product {
    width: 30rem;
  }
}

/*# sourceMappingURL=mobile.css.map */
